.about-us-text {
    max-width: 1000px;
    padding: 1em 5em;
}

.about-us h1, .about-us h2, .about-us h3, .about-us h4, .about-us h5, .about-us h6, .about-us p {
    color: var(--blue-900);
} 

@media screen and (max-width: 500px) {
    .about-us-text {
        padding: 1em 3em;
    }
}