.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-text {
    max-width: 75ch;
    width: 80%;
    margin: 1.5em 0;
}

.about-us h1, .about-us h2, .about-us h3, .about-us h4, .about-us h5, .about-us h6, .about-us p {
    color: var(--blue-900);
} 

.about-us p {
    line-height: 1.9rem;
    text-wrap: balance;
}

.about-us h2 {
   margin-top: 1em;
}

@media screen and (max-width: 500px) {
    .about-us-text {
        padding: 1em 0.6em;
    }
}