.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 548px;
    background-color: var(--blue-50);
    padding: 20px;
    border-radius: 8px;
}

.card-text {
    margin: 24px 0;
}

.card-img {
    border-radius: 8px;
}

.card h2 {
    margin-bottom: 12px;
    font-weight: bold;
}

.card h2, .card p {
    color: var(--blue-900)
}
.card .paragraph {
    height: 144px;
}

.btn {
    align-self: flex-start;
}

@media screen and (max-width: 550px) {
   .card {
    width: 20em;
    height: auto;
    padding: 1em;
   }
   .card-img {
    width: 17.5em;
    height: auto;
    }
    .card p {
        font-size: 1em;
    }
}

@media screen and (max-width: 462px) {
    .card {
     width: 16em;
     height: auto;
     padding: 0.8em;
    }
    .card-img {
     width: 14em;
     height: auto;
    }
     .card p {
        font-size: 0.8em;
    }
 }