.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    height: 580px;
    background-color: var(--blue-50);
    padding: 20px;
    border-radius: 8px;
}

.card-text {
    margin: 1rem 0;
}

.card-img {
    object-fit: cover;
    border-radius: 8px;
}

.card h2 {
    margin-bottom: 12px;
    font-weight: bold;
}

.card h2, .card .paragraph {
    color: var(--blue-900)
}

.card .paragraph {
    height: 144px;
    line-height: 1.45rem;
}

.card .btn {
    align-self: flex-start;
}

@media screen and (max-width: 550px) {
   .card {
    width: 20em;
    height: auto;
    padding: 1em;
   }
   .card-img {
    width: 17.5em;
    height: auto;
    }
    .card .paragraph {
        font-size: 0.85em;
        line-height: 1.2rem;
    }
    .card h2 {
        margin-bottom: 10px;
    }
    .card-text {
        margin: 0.8rem 0;
    }
}

@media screen and (max-width: 462px) {
    .card {
     width: 16em;
     height: auto;
     padding: 0.8em;
    }
    .card-img {
     width: 14em;
     height: auto;
    }
    .card .paragraph {
        font-size: 0.75em;
        line-height: 1rem;
    }
    .card h2 {
        margin-bottom: 8px;
    }
    .card-text {
        margin: 0.6rem 0;
    }
 }