.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #527A7B;
    padding: 6px 100px;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}