.animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
}

.animal h1, .animal h2, .animal h3, .animal h4, .animal h5, .animal h6, .animal p {
    margin-bottom: 0.4em;
    color: var(--blue-900);
} 

.animal h2, .animal h3 {
    text-transform: uppercase;
    margin-bottom: 0.8em;
}

.animal p{
    margin: 1em 0;
    line-height: 1.9rem;
    text-wrap: balance;
}

.banner h2 {
    color: var(--blue-900);
    margin: 0;
    background: var(--blue-50);
    display: inline-block;
    padding: 0.75em 1.2em;
    position: relative;
    top: -45px;
    left: -25px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.animal-info {
    max-width: 700px;
    margin-bottom: 2rem;
}

.animal-img {
    border-radius: 6px;
}

.animal-img-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.animal button {
    margin-top: 1.4em;
    font-size: 1em;
    font-weight: bold;
    color: var(--blue-900);
    background-color: var(--orange-500);
    border: none;
    border-radius: 8px;
    padding: 12px 26px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.animal button:hover{
    background-color: var(--orange-600);
}


@media screen and (max-width: 550px) {
    .animal-main-img {
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    .animal-main-img {
        width: 300px;
        height: auto;
    }

}