:root {
  --blue-50: rgb(244, 252, 252);
  --blue-100: rgb(222, 245, 245);
  --blue-200: rgb(206, 240, 241);
  --blue-300: rgb(184, 233, 234);
  --blue-400: rgb(170, 229, 230);
  --blue-800: rgb(82, 122, 123);
  --blue-900: rgb(63, 93, 94);
  --pink-100: rgb(253, 239, 239);
  --orange-50: rgb(255, 250, 239);
  --orange-500: rgb(253, 203, 95);
  --orange-600: rgb(230, 185, 86);
  --orange-700: rgb(180, 144, 67);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  margin-top: 0;
}

p {
  margin-bottom: 1.2em;
  margin-top: 0;
}

body {
  margin-top: 79px;
  background-color: var(--blue-100);
}
